.faq-container {
    display: grid;
    grid-template-columns: repeat(1, 600px);
    grid-gap: 12px;
    width: 100%;
    justify-content: center;
    margin-bottom: 15px;
}

.faq-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 600px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    background-color: #fff;
    max-width: 100%;
    height: auto;
  }
  
  .faq-question {
    font-size: 36px;
    margin-bottom: 10px;
    padding: 15px;
  }
  
  .faq-answer {
    font-size: 24px;
    color: #555;
    padding: 15px
  }
  