* {
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
}

body {
  background: linear-gradient(to bottom, rgba(221, 102, 0, .6), #fff);
}

.subpageHeader {
  text-align: center;
  font-size: 72px;
  font-family: 'Brush Script MT', cursive;
}

.cont {
  margin-top: 45px;
  display: flex;
  width: 100%;
  background-color: white;
  color: #fff;
  font-size: 18px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.box {
  flex: 1;
  padding: 20px;
  background-color: #555;
}

.image-box img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  display: block;
}

.text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-box > h1 {
  color: #d60;
}
@media (max-width: 960px) {
  .cont {
      flex-direction: column;
  }

  .image-box,
  .text-box {
      width: 100%;
  }

  .image-box img {
      height: auto;
  }
}